body{
    font-size: 24px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: aqua;
}

#header_0{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3f3b3b;
    padding: 1%;
}

#header_0 img{
    height: 32px;
    width: 128px;
}

#header_0 li{
    list-style-type: none;
}

#main{
    background: url(images/AdobeStock_389376832.jpeg);
    background-size: cover;
    height: 700px;
    padding: 0%;
}


#main h1{
    font-size: 38px;
    padding-top: 200px;
    text-align: left;
    padding-left: 90px;
}

section#main p{
    display: flex;
    font-size: 24px;
    width: 20%;
    text-align: left;
    justify-content: center;
    padding-left: 60px;
}

#tri {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item{
    width: 200px;
    border: 1px solid #3f3b3b;
    padding: 40px;
    float: left;
    margin: 30px    ;
}

.item img{
    width: 150px;
    height: 150px;
}

footer{
    display: flex;
    align-items: flex-start;
    background-color: #3f3b3b;
    justify-content: space-around;
    padding: 1%;
    height: 130px;
}

.rozdelovnik{
    width: 100px;
    padding: 10px;
    margin: 2px;
}

.rozdelovnik img{
    padding-top: 20%;
    height: 48px;
    width: 192px;
    align-items: left;
}

.rozdelovnik p{
    font-size: 16px;
    text-align: left;
    margin: 0;
}

#main_formular h1{
    text-align: center;
    font-size: 36px;
}

#main_formular p{
    text-align: left;
    font-size: 16px;
    margin-top: 40px;
}

.left-div{
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
}

.blog-1 h1{
    font-size: 28px;
    padding-top: 64px;
    text-align: left;
}

.blog-1 p{
    font-size: 14px;
    text-align: left;
    word-wrap: normal;
    justify-content: left;
}

#spacing-footer{
    margin-bottom: 50px;
    margin-top: 50px;
}

.resize{
    width: 30%;
    height: auto;
}
